.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerContent img {
  margin-top: 1rem;
  width: 14rem;
}

/* 320 */
@media only screen and (max-width: 767.9px) {
  .headerContent {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
  }
  .headerContent img {
    width: 170px;
    padding: 0.2rem;
    margin-bottom: 1rem;
  }
}
