.filtro {
  border: 2px solid var(--grey);
  height: 100%;
  max-height: 45%;
  padding: 1rem;
}

.filtro h2 {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 800;
  color: var(--red);
}

.filtro h3 {
  color: var(--blue);
  font-size: 1.2rem;
  font-weight: 800;
  text-transform: uppercase;
  display: flex;
  padding: 1rem 0.5rem 1rem 0;
}

.filtro ul {
  list-style: inherit;
  margin-left: 2rem;
}

.filtro ul li {
  list-style: inherit;
  padding: 0.2rem 0 0 0;
  color: #444;
}

/* 1024 */
@media only screen and (min-width: 1024px) and (max-width: 1043.9px) {
  .filtro {
    padding: 0.5rem;
    margin: 0;
  }
}

/* 768 */
@media only screen and (min-width: 768px) and (max-width: 1023.9px) {
  .filtro {
    padding: 0.5rem;
    margin: 0;
    max-height: 35%;
  }
  .filtro h2 {
    font-size: 1.4rem;
  }
}

/* 320 */
@media only screen and (max-width: 767.9px) {
  .filtro {
    display: flex;
    flex-direction: column;
  }
}
