.calcados {
  display: grid;
  grid-template-columns: 20% 1fr;
  margin-top: 2rem;
  gap: 1rem;
}

.calcadosListagem {
  padding: 0px 0px 0px 2rem;
  display: flex;
  flex-direction: column;
}

.calcados .calcadosListagem h2 {
  font-weight: 400;
  font-size: 1.7rem;
  color: var(--red);
}

.calcados .calcadosListagem h2::after {
  content: '';
  display: block;
  width: 100%;
  margin: 0.5rem 0px;
  border-bottom: 2px solid var(--grey);
}

.calcado {
  color: var(--black);
  width: 100%;
}

.calcado span {
  padding-top: 1rem;
  font-size: 1.5rem;
  color: var(--red);
  font-weight: 800;
}

.calcado ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 1rem;
  gap: 2rem;
  justify-content: space-between;
}

.calcado ul li {
  display: flex;
  font-size: 1.2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calcado ul li p {
  display: flex;
  justify-content: center;
  padding-top: 1.2rem;
}

.calcado .button {
  padding: 0.7rem 3.2rem;
  margin-top: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--blue);
  border: none;
  border-radius: 4px;
  color: var(--white);
  font-weight: 800;
  font-size: 1rem;
  text-transform: uppercase;
  transition: background 0.3s;
}

.calcado .button:hover {
  cursor: pointer;
  background: var(--black);
}

.calcado ul li img {
  border: 0.1rem solid var(--grey);
  max-height: 200px;
}

/* 1024 */
@media only screen and (min-width: 1024px) and (max-width: 1043.9) {
  .calcados {
    grid-template-columns: 20% 1fr;
  }
  .calcadosListagem {
    width: 100%;
    padding: 0;
    margin: 0;
    gap: 0;
  }
}

/* 768 */
@media only screen and (min-width: 768px) and (max-width: 1023.9px) {
  .calcados {
    grid-template-columns: 25% 1fr;
    padding: 0;
  }

  .calcado ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 1rem;
    gap: 1rem;
    justify-content: space-between;
  }
}

/* 320 */
@media only screen and (max-width: 767.9px) {
  .calcados {
    padding: 1rem 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    grid-template-columns: 20% 1fr;
  }
  .calcadosListagem {
    width: 100%;
    padding: 0;
    margin: 0;
    gap: 0;
  }
  .calcado ul {
    display: flex;
    flex-direction: column;
  }
}
