.busca {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.busca input {
  font-size: 1rem;
  font-weight: 400;
  padding: 0.7rem;
  width: 300px;
  color: var(--black);
  border: 2px solid var(--grey);
}

.busca input:focus {
  outline: none;
}

.button {
  text-transform: uppercase;
  font-weight: 800;
  width: 8rem;
  height: 3rem;
  background: var(--red);
  color: var(--white);
  border: none;
  transition: color 0.3s;
}

.button:hover {
  cursor: pointer;
  color: var(--black);
}

/* 320 */
@media only screen and (max-width: 767.9px) {
  .busca {
    display: flex;
    margin-bottom: 1rem;
  }

  .busca input {
    display: none;
  }

  .button {
    display: none;
  }

  .iconeBusca {
    width: 2rem;
    padding: 0.7rem;
    color: var(--blue);
    border: none;
    margin-left: 1rem;
    margin-top: 1rem;
    background-image: url('../../media/search-solid.svg');
    background-repeat: no-repeat;
    background-color: transparent;
  }

  .iconeBusca:hover {
    cursor: pointer;
  }

  .iconeBusca p {
    position: fixed;
    display: hidden;
    left: -1440px;
  }
}
