.navTop {
  background: black;
  width: 100%;
  height: 30px;
  color: var(--white);
}

.navTop ul {
  display: flex;
  flex: 1;
  padding: 0.2rem;
  justify-content: flex-end;
}

.navTop li {
  display: flex;
}

.navTop p {
  margin-left: 0.5rem;
  font-weight: 400;
}

.navTop li a {
  font-weight: bold;
  text-decoration: underline;
  padding-left: 0.5rem;
  color: var(--white);
}

/* 320 */
@media only screen and (max-width: 767.9px) {
  .navTop ul {
    justify-content: center;
  }
}
