.footer {
  display: flex;
  justify-content: center;
  max-width: 1440px;
  width: 100%;
  background: var(--red);
  margin-top: 2rem;
}

.footer p {
  color: var(--white);
  text-align: center;
  padding: 1rem;
}

.footer a {
  transition: 0.3s;
}

.footer a:hover {
  color: var(--black);
}

/* 1024 */
@media only screen and (min-width: 1024px) and (max-width: 1043.9px) {
  .footer {
    max-width: 1024px;
  }
}

/* 768 */
@media only screen and (min-width: 768px) and (max-width: 1023.9px) {
  .footer {
    max-width: 768px;
  }
}

/* 320 */
@media only screen and (max-width: 767.9px) {
  .footer {
    max-width: 320px;
  }
}
