:root {
  --red: #c71927;
  --blue: #28a3aa;
  --orange: #f36324;
  --black: #231f20;
  --white: #ffffff;
  --grey: #cccccc;
  --type: 'Open Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--type);
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

button,
input {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: var(--white);
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
}

.buscaMobile {
  display: none;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 10px solid #ccc;
  border-right-color: transparent;
  animation: loading 1s infinite;
}

@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}

/* 1024 */
@media only screen and (max-width: 1024px) {
  .container {
    max-width: 1024px;
    margin: 0 auto;
    width: 100%;
  }

  .loading {
    max-width: 1024px;
    width: 64px;
    height: 64px;
  }

  .buscaMobile {
    display: none;
  }
}

/* 768 */
@media only screen and (min-width: 768px) and (max-width: 1023.9px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
    width: 100%;
  }
  .loading {
    max-width: 768px;
    width: 64px;
    height: 64px;
  }
  .buscaMobile {
    display: none;
  }
}

/* 320 */
@media only screen and (max-width: 767px) {
  .container {
    max-width: 320px;
    margin: 0 auto;
    width: 100%;
  }

  .loading {
    max-width: 320px;
    width: 24px;
    height: 24px;
  }
  .buscaMobile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    width: 2rem;
    height: 2rem;
  }
}
