.menu {
  display: flex;
  justify-content: flex-start;
  background: var(--red);
  margin-top: 2rem;
  padding: 1rem;
}

.menu ul {
  display: flex;
  max-width: 1440px;
  width: 100%;
  display: flex;
}

.menu a {
  font-weight: 800;
  font-size: 1rem;
  text-transform: uppercase;
  margin-right: 6rem;
  padding: 1rem 0px 1rem 0px;
  transition: color 0.3s;
}

.menu a:hover {
  color: var(--black);
}

/* 1024 */
@media only screen and (min-width: 1024px) and (max-width: 1043.9px) {
  .menu ul {
    display: flex;
    max-width: 1024px;
    width: 100%;
    display: flex;
  }
}

/* 768 */
@media only screen and (min-width: 768px) and (max-width: 1023.9px) {
  .menu {
    padding: 0;
  }
  .menu ul {
    display: flex;
    padding: 1rem 0;
    margin: 0 auto;
    max-width: 768px;
    width: 100%;
    display: flex;
  }
  .menu a {
    margin: 0 1rem 0 0;
  }
}

/* 320 */
@media only screen and (max-width: 767.9px) {
  .menu {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
  }

  .menu ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    margin: 0 auto;
  }

  .menu ul li {
    padding: 0.5rem 0;
    margin: 0 auto;
  }

  .menu ul li a {
    padding: 0;
    margin: 0 auto;
  }
}
